<app-search (search)="onSearch($event)" class="flex-1 block p-4 bg-blue-600 shadow-md mb-4"></app-search>
<div class="book-list-container p-4">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <app-book-item *ngFor="let book of books" [book]="book"></app-book-item>
  </div>
</div>
<div class="pagination flex justify-center mt-6 pb-8">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="!hasPreviousPage()" class="pagination-button px-4 py-2 rounded bg-blue-600 text-white transition-colors disabled:bg-gray-300">
    <i class="fas fa-chevron-left"></i>
  </button>
  <span class="px-4 py-2">{{currentPage}}</span>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="!hasNextPage()" class="pagination-button px-4 py-2 rounded bg-blue-600 text-white transition-colors disabled:bg-gray-300">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
